*.swp filter=lfs diff=lfs merge=lfs -text
*.qdz filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.bak filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.nlv filter=lfs diff=lfs merge=lfs -text
*.bsf filter=lfs diff=lfs merge=lfs -text
*.cmp filter=lfs diff=lfs merge=lfs -text
*.qip filter=lfs diff=lfs merge=lfs -text
*.sip filter=lfs diff=lfs merge=lfs -text
*.spd filter=lfs diff=lfs merge=lfs -text
*.v filter=lfs diff=lfs merge=lfs -text
*.vhd filter=lfs diff=lfs merge=lfs -text
*.f filter=lfs diff=lfs merge=lfs -text
*.vo filter=lfs diff=lfs merge=lfs -text
*.tcl filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.var filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.setup filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.kpt filter=lfs diff=lfs merge=lfs -text
*.qmsg filter=lfs diff=lfs merge=lfs -text
*.tdf filter=lfs diff=lfs merge=lfs -text
*.sopcinfo filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.sv filter=lfs diff=lfs merge=lfs -text
*.cdb filter=lfs diff=lfs merge=lfs -text
*.hdb filter=lfs diff=lfs merge=lfs -text
*.rdb filter=lfs diff=lfs merge=lfs -text
*.bpm filter=lfs diff=lfs merge=lfs -text
*.idb filter=lfs diff=lfs merge=lfs -text
*.logdb filter=lfs diff=lfs merge=lfs -text
*.hsd filter=lfs diff=lfs merge=lfs -text
*.db_info filter=lfs diff=lfs merge=lfs -text
*.hier_info filter=lfs diff=lfs merge=lfs -text
*.hif filter=lfs diff=lfs merge=lfs -text
*.ammdb filter=lfs diff=lfs merge=lfs -text
*.sci filter=lfs diff=lfs merge=lfs -text
*.tdb filter=lfs diff=lfs merge=lfs -text
*.ddb filter=lfs diff=lfs merge=lfs -text
*.tmw_info filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.hiof filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.dfp filter=lfs diff=lfs merge=lfs -text
*.rcfdb filter=lfs diff=lfs merge=lfs -text
*.dpi filter=lfs diff=lfs merge=lfs -text
*.sig filter=lfs diff=lfs merge=lfs -text
*.hb_info filter=lfs diff=lfs merge=lfs -text
*.rpt filter=lfs diff=lfs merge=lfs -text
*.qsys filter=lfs diff=lfs merge=lfs -text
*.cdf filter=lfs diff=lfs merge=lfs -text
*.done filter=lfs diff=lfs merge=lfs -text
*.dtb filter=lfs diff=lfs merge=lfs -text
*.dts filter=lfs diff=lfs merge=lfs -text
*.smsg filter=lfs diff=lfs merge=lfs -text
*.summary filter=lfs diff=lfs merge=lfs -text
*.jdi filter=lfs diff=lfs merge=lfs -text
*.pin filter=lfs diff=lfs merge=lfs -text
*.qpf filter=lfs diff=lfs merge=lfs -text
*.qsf filter=lfs diff=lfs merge=lfs -text
*.qws filter=lfs diff=lfs merge=lfs -text
*.sld filter=lfs diff=lfs merge=lfs -text
*.sof filter=lfs diff=lfs merge=lfs -text
*.sdc filter=lfs diff=lfs merge=lfs -text
*.svh filter=lfs diff=lfs merge=lfs -text
*.hex filter=lfs diff=lfs merge=lfs -text
*.debuginfo filter=lfs diff=lfs merge=lfs -text
*.regmap filter=lfs diff=lfs merge=lfs -text
*.svd filter=lfs diff=lfs merge=lfs -text
*.ppf filter=lfs diff=lfs merge=lfs -text
*.qdf filter=lfs diff=lfs merge=lfs -text
*.stamp filter=lfs diff=lfs merge=lfs -text
*.231 filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
